.carrousel{
    width: 100%;
    max-width: 120em;
    background-color: lightblue;
    background-image: url("../img/carronubes.avif");
    padding-top: 25px;
    overflow-x: hidden;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
.carrousel .grande{
    width: 500%;
    /*background-color: var(--secondary-color);*/
/* para poner alineada una imagen al lado de otra hago lo siguiente*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0em;

    transition: all .5s ease;
    transform: translateX(-20%)
}
.carrousel .img{
    width: calc(100%/10);
    min-height: 250px;
    background-color: lightblue;
    
}
.carrousel .puntos{
    width: 100%;
    margin: 1em 0 0;
    /*background-color: var(--primary-color);*/
    padding: .2em;
    /* Para alinear los puntos*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.carrousel .punto{
    border-radius: .6em;
    width: 1.5em;
    height: 1em;
    background-color: var(--primary-color) ;
    margin: 0em 1em 0;
}
.carrousel .punto.activo{
    background-color: #33d8ee;
}