:root{
    --primary-color: #659aaa; 
    --primary-color-dark: #0b8b9c; 
    --secondary-color: #367e83;
    --secondary-color-dark: #8EA8C3;
    --gray-color: #798d89;
    --gray-color-dark: #333;


}