#content{
    display:flex;
    flex-direction: column;
    float:left;
    width: 70%;
    margin-top: 0px;
    padding: 0 20px;
    box-sizing: border-box;
}

#content h1{
    margin:0;
    font-size: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-shadow: 2px 2px 5px var(--gray-color);
    margin-bottom: 20px;
}

#content article{
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
    border: solid 1px var(--gray-color);
    box-shadow: 2px 2px 5px var(--gray-color);
}

#content article h2{
    margin: 0;
    color: var(--secondary-color);
    font-family: "CastoroTitling-Regular";
    font-size: 15px;
}

#content article a{
    font-size: 15px;
    float: right;
    color: var(--gray-color);
    text-shadow: 2px 2px 5px var(--secondary-color-dark);
}

/*
.pagination{
    float:right;
}

.pagination li{
    display:inline-block;
}

.pagination a{
    padding: 5px 10px;
    background-color: white;
    border: solid 1px var(--gray-color)
}

.pagination li:hover a{
    color:white;
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color-dark);
}*/

@media (max-width: 700px){ /* Es el tamaño que le estoy dando en todos los media query*/
    #content{
        margin-block-start: 30px;
        width: 100%; /*esto significa que cuando llegue a 700px el content se ajustará al 100% del tamaño de la pantallita*/
    }
}