.seccion{
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
    border: solid 1px var(--gray-color);
    box-shadow: 2px 2px 5px var(--gray-color);
    display: flexbox;
}

.contenedor{
    display: inlineflex;
    align-items: center;
}

.descripcion{
    display: flexbox;
    width: 60%;
    padding: 0; 
}

.fotoDescripcion{
    width: 60%;
    margin-right: 20px; 
    margin-bottom: 2px;
}

@media (max-width: 600px) { /* Ajusta el ancho según tus necesidades */
    .contenedor {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }
    
    .fotoDescripcion {
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 10px; /* Agrega un margen inferior */
    }
}