@font-face {
    font-family: "Tangerine-Regular";
    src: url("../fonts/Tangerine-Regular.ttf");
}

@font-face {
    font-family: "CastoroTitling-Regular";
    src: url("../fonts/CastoroTitling-Regular.ttf");
}

@font-face {
    font-family: "Baskervville-Regular";
    src: url("../fonts/Baskervville-Regular.ttf");
}

@font-face {
    font-family: "Merriweather-Regular";
    src: url("../fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("../fonts/Merriweather-Light.ttf");
}
