@font-face {
    font-family: "Tangerine-Regular";
    src: "..fonts/Tangerine-Regular.ttf";
}

@font-face {
    font-family: "CastoroTitling-Regular";
    src: "..fonts/CastoroTitling-Regular.ttf";
}

@font-face {
    font-family: "Baskervville-Regular";
    src: "..fonts/Baskervville-Regular.ttf";
}
@font-face {
    font-family: "Trickster";
    src: local("Trickster"),
      url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1), url("trickster-outline.otf")
        format("opentype"), url("trickster-outline.woff") format("woff");
  }