@font-face {
    font-family: "Tangerine-Regular";
    src: url("../fonts/Tangerine-Regular.ttf");
}

@font-face {
    font-family: "CastoroTitling-Regular";
    src: url("../fonts/CastoroTitling-Regular.ttf");
}

@font-face {
    font-family: "Baskervville-Regular";
    src: url("../fonts/Baskervville-Regular.ttf");
}
