footer{
    float:left;
    width: 100%;
    background-color: var(--gray-color-dark);
    margin-top: 0px ;
    padding: 0px;
    box-sizing: border-box;
}

.container-body{
    width: 100%;
    background: var(--primary-color);
    display: flex;
    padding: 15px;
    box-sizing: border-box;
}

.column1{
    width: 45%;
}

.column1 p{
font-size: 15px;
font-family: "Merriweather-Light";
color: white; 
margin-top: 20px;
margin-left: 20px;
margin-right: 30px;
text-align: justify;
padding-right: 30px;
line-height: 30px;
}

.column1 h1{
    color:white;
    font-size: 15px;
    margin-left: 20px;
    font-family: "CastoroTitling-Regular";
}

.column2{
    width: 30%;
}

.column2 h1{
    color:white;
    font-size: 15px;
    margin-left: 0px;
    font-family: "CastoroTitling-Regular";
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height:36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
}

.column3{
    width: 30%;
    justify-content: space-around;
    margin-top: 0px;
}

.column3 h1{
    color:white;
    font-size: 15px;
    margin-left: 0px;
    font-family: "CastoroTitling-Regular";
}

.row3{
    margin-top: 20px;
    display: flex;
    max-width: 300px;
}
.row3 label{
    margin-top: -5px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
    line-height: 30px;
}
.row3 img{
    margin-top: -5px;
    width: 40px;
    height: 40px;
}

.column4 {
    max-width: 400px;
    justify-content: right;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 30px;
}

.container-footer{
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 20px;
    box-sizing: border-box;
}

.copyright{
    color: var(--gray-color);
    font-size: 14px;
}

@media(max-width: 700px){
    .container-body{
        flex-wrap: wrap;
    }
    .column1{
        width: 100%;
    }
    .column2{
        width:100%;
        margin-top: 10px; /*Es necesaria esta linea?*/
    }
    .column3{
        width:100%;
        margin-top: 10px; /*Es necesaria esta linea?*/
    }
}


















