footer{
    float:left;
    width: 100%;
    background-color: var(--gray-color-dark);
    margin-top: 0px ;
    padding: 0px;
    box-sizing: border-box;
    /*text-align: ;
    color:;
    font-size: ;*/ 
}

footer h1{
    color:white;
    font-size: 20px;
}

.container-body{
    width: 100%;
    background: var(--primary-color);
    /*color: aliceblue;* Creo que no hace falta esta linea*/
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-sizing: border-box;
}

.column1{
    width: 40%;
    max-width: 400px;
    border-right: 100px;
}

.column1 p{
font-size: 14px;
color: white; 
margin-top: 10px;
/*Aquí centrar y justificar el contenido del párrafo*/

}

.column2{
    width: 30%;
    max-width: 400px;
}

.row{
    margin-top: 30px;
    display: flex;
}
.row img{
    width: 36px;
    height:36px;
}
.row label{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 14px; /* agrego en labels para que no quede tamaño por defecto, le puse el mismo tamaño del p en column1*/
}
.column3{
    width: 30%;
    max-width: 400px;
    justify-content: space-around;
}

.row2{
    margin-top: 10px;
    display: flex;
    max-width: 300px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 14px;
}
.row2 img{
    width: 36px;
    height:36px;
}

.container-footer{
    width: 100%;
    /*background-color: #101010;*/
    display: flex;
    justify-content: left;
    padding: 20px;
    /*color: wheat Creo que no hace falta esta linea*/
    box-sizing: border-box;
}
.copyright{
    color: var(--gray-color);
    font-size: 14px;
}

@media(max-width: 700px){
    .container-body{
        flex-wrap: wrap;
    }
    .column1{
        width: 100%;
    }
    .column2{
        width:100%;
        margin-top: 10px; /*Es necesaria esta linea?*/
    }
    .column3{
        width:100%;
        margin-top: 10px; /*Es necesaria esta linea?*/
    }
}

/*.container-body: after {
    content: "";
    display: table;
    clear: both;
  }
*/

















