input[type="text"],
input[type="email"],
input[type="tel"],
input[type= "date"],
input[type= "number"],
select {
    width: 247px;
    padding: 10px;
    border-color: #367e83;
    border-radius: 4px;
}
/*Sección preferencias*/
textarea{
    width: 330px;
    height: 120px;
    padding: 10px;
    border: 1px solid #367e83;
    border-radius: 4px;
    resize:none;
}
  
input[type="submit"] {
    background-color: #367e83 ;
    color:white;
    padding: 10px 20px;
    border: 1px solid;
    border-color: #659aaa;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #659aaa;
}

.form_label {
    display: block;
    margin-bottom: 5px;
    /*font-weight: bold;*/
    font-size: 16px;
}

.campo_requerido{
    color: #0b8b9c;
    font-size: large;
}

/*.suscribite{
    display:inline-block;
    border: 1px solid #f00b0b;
    width: 300px;
    padding: 5px;
}*/

.formulario{
    display: inline-block;
    width: 50%;
    border: 0px solid var(--gray-color);
    margin: 0;
    padding: 0;
    background-image: url("../img/carronubes.avif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    font-family: "CastoroTitling-Regular";   
}

.formulario h1{
    text-transform: uppercase;
    font-family: "CastoroTitling-Regular";
    font-size: 25px;
    color: #0b8b9c;
    padding:10px;
    text-shadow: 2px 2px 5px #798d89;
}
