header {
    float: left;
    width: 100%;
    font-family: "CastoroTitling-Regular";
    text-align: right;
    margin-bottom: 0px;
    /*background-color: #fff;*/
    background-image: url("../img/carronubes.avif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 500px;

    
}
header img{
    width: 200px;
} 

header div{
    padding: 0px;
}

header h1{
    color: var(--primary-color);
    font-family: "CastoroTitling-Regular";
    font-size: 60px;
    margin-top: 400px;
    text-shadow: 2px 2px 5px var(--gray-color);
    margin-right: 100px;
    

}

@media (max-width: 700px) {
    header h1 {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 30px;
    }
    header div{
        padding-right: 20px;
    }
}

@media (max-width: 550px) {
    header h1 {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 30px;
        margin-top: 420px;
    }
    header div{
        padding-right: 20px;
    }
}