<aside>
    <div class="widget">
        <h3>Iniciar sesión</h3>
        <form>
           <input type="email" name="email" placeholder="Email" >
           <input type="password" name="password" placeholder="Password">
           <input type="submit" value="Entrar" >
        </form>
    </div>

    <div class="widget">
        <h3>Ofertas especiales</h3>
        <ul>
            <li>
                <a href="#">Fin de semana largo en Salta y Jujuy </a>
            </li>

            <li>
                <a href="#">Vacaciones de invierno en la montaña </a>
            </li>
                
            <li>
                <a href="#">Campo en la ciudad: Estancias en la Ciudad de Buenos Aires</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Clientes</h3>
        <blockquote>
            Fotos tomadas por nuestros clientes
        </blockquote>
    </div>

</aside>