<aside>
    <div class="widget">
        <h3>Ofertas especiales</h3>
        <ul>
            <li>
                <a href="#">Fin de semana largo en Salta y Jujuy </a>
            </li>

            <li>
                <a href="#">Vacaciones de invierno en la montaña </a>
            </li>
                
            <li>
                <a href="#">Campo en la ciudad: Estancias en la Ciudad de Buenos Aires</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Clientes</h3>
        <blockquote>
            Fotos tomadas por nuestros clientes
        </blockquote>
    </div>
    
<!-- Agrego parte del formulario de José -->
    <div class="widget">
        <form method="post" onsubmit=" return suscribirse()">
            <div>
                <h3>Suscribite para recibir novedades!</h3>
                <!-- <label class="form_label" for="Suscribite">Suscribite para recibir novedades!</label> -->
                <input type="email" id="Suscribite" name="Suscribite" required 
                    placeholder="Ingresa tu direccion de email">
            </div>
            <div>
                <input type="submit" value="Suscribirse" >
            </div>
        </form>
    </div>
</aside>