<aside>
    <div class="widget">
        <h3>Ofertas especiales</h3>
        <ul>
            <li>
                <a href="Noroeste.html">Fin de semana largo en Salta y Jujuy </a>
            </li>

            <li>
                <a href="Patagonia.html">Vacaciones de invierno en la montaña </a>
            </li>
                
            <li>
                <a href="Centro-pampeana.html">Campo en la ciudad: Estancias en la Ciudad de Buenos Aires</a>
            </li>
        </ul>
    </div>   
</aside>