
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencias</title>
    <link rel="icon" href="img/logo.ico">
    <link rel="stylesheet" type="text/css" href="../css/styleclima.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body>
    <div id="container">
        <!-- Aquí se vinculan todas las partes contenidas en la carpeta partials.html -->
        <div include-html="./header.html"></div>
        <div include-html="./main-menu.html"></div>

        <div class="clima">
            <section class="weather-content">
                <h1>El clima en tu destino</h1>
                <div class="result">
                    <p>Completa la cuidad y pais</p>
                    <!-- <h5>Clima en Bariloche</h5>
                    <img src="" alt="">
                    <h2>28°C</h2>
                    <p>Max: 29°C</p>
                    <p>Min: 27°C</p> -->
                </div>
                <form action="" method="POST" class="get-weather">
                    <input type="text" name="city" id="city" placeholder="Escribe tu ciudad de destino...">
                    <select name="" id="country">
                        <option disabled selected value="">Selecciona el pais</option>
                        <option value="AR">Argentina</option>
                    </select>
                    <input type="submit" name="" id="" value="Ver clima">
                </form>
            </section>
        </div>

        <div include-html="./footer.html"></div>
    </div>

    <script src="../js/include-html.js" ></script>
    <script defer src="../js/carrousel.js"></script>
    <script src="../js/custom.js" defer></script>
</body>


</html>
