<section id="content">
    <article>
        <h2>Ultimos paquetes en oferta</h2>
        <h3>Noreste Argentino</h3>
        <ul>
            <li>Misiones</li>
            <li>Corrientes</li>
            <li>Formosa</li>
            <li>Chaco</li>
            <li>Santa Fe</li>
            <li>Entre Ríos</li>
        </ul>
        <a href="Noreste.html">Ver paquetes >> </a>
    </article>

    <article>
        <h2>Testimonios de nuestros clientes</h2>
        <p>Julián, Laram, Robert y muchas personas más recomiendan A Las Nubes para sus viajes</p>
        <a href="Quiero sorprenderme.html">Ver más>> </a>
    </article>

    <article>
        <h2>¿Necesitas ayuda?</h2>
        <p>¡Te brindamos asesoría gratuita para que puedas realizar tu viaje!</p>
        <a href="./partials/formulario.html"> Solicitar>> </a>
    </article>

    <!-- <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>...</li>
        <li><a href="#">23</a></li>
    </ul> -->
</section>