<nav id="main-menu">
    <ul>
        <li>
            <a href="index.html">Inicio</a>
        </li>
        <li>
            <a>Destinos</a>
            <ul>
                <li>
                    <a href="./Noroeste.html">Noroeste</a>
                </li>
                <li>
                    <a href="./Noreste.html">Litoral</a>
                </li>
                <li>
                    <a href="./Cuyo.html">Cuyo</a>
                </li>
                <li>
                    <a href="./Centro-pampeana.html">Centro/pampeana</a>
                </li>
                <li>
                    <a href="Patagonia.html">Patagonia</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="Quiero sorprenderme.html">Experiencias de nuestros viajeros</a>
        </li>
        <li>
            <a href="#SobreNos">Sobre nosotros</a>
        </li>
    </ul>
</nav>